@import "semantic-ui/semantic";
@import (less) "../../../node_modules/magnific-popup/dist/magnific-popup.css";

header {
  margin: 20px 0;
}

.news-items {
  margin: 30px 0;
  .news-item {
    margin-bottom: 2em !important;
  }
}

.news-archive-link {

}